body{
    margin: 0;
    padding: 0;
    font-family: 'Niconne', cursive;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1050px;
}
/* header start */
header{
    background-color: #2D25A0;
    padding: 52px 156px;
}
nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    padding: 0%;
}
nav ul li{
    list-style: none;
    margin-right: 36px;
}
.last_child{
    margin-right: 0%!important;
}
nav ul li a{
    font-size: 16px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
}
.login_btn{
    background-color: #E02C6D;
    padding:10px 24px;
}
.login_btn i{
    margin-right: 8px;
}
.header_info{
    margin-top: 80px;
}
.header_bottom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.header_title{
    font-size: 64px;
    line-height: 80px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    width: 485px;
    margin-bottom: 25px;
}
.header_btn{
    font-size: 16px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
}
.header_btn i{
    margin-left: 8px;
}
.header_img{
    margin-top: 77px;
}
.header_img img{
   width: 100%;
}
/* header start */
/* players start */
#player_list{
    margin-top: 85px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    
}
.player{
    width: 330px;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0,0,0,.15);
    margin-bottom: 30px;
}
.player img{
    width: 100%;
}
.player_title{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    color: #18191F;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.player_description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6C6C6C;
    font-family: 'Poppins', sans-serif;
    width: 300px;
}
/* players end */
/* highlight start */
.highlight{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 60px;
    margin-top: 100px;
}
.highlight_info{
    margin-top: 50px;
}
.highlight_title{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #0A0826;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.highlight_description{
    margin-bottom: 30px;
}
.highlight_btn{
    background-color: #E02C6D;
    padding:10px 24px;
    text-decoration: none;
    color: #fff;
}
.highlight_btn i{
    margin-left: 8px;
}
.highlight_img img{
    width: 567px;
    height: 427px;
}
/* highlight end */
/* footer start */
footer{
    margin-top: 50px;
}
.footer_logo{
    text-align: center;
}
.footer_icon{
    text-align: center;
    margin: 30px 0px;
}
.footer_copyright{
    text-align: center;
}
.footer_logo img{
    width: 400px;
}
.footer_icon a{
    font-size: 20px;
    padding: 10px;
    background-color: hsla(226, 11%, 63%, 0.329);
    border-radius: 100%;
    margin: 5px;
    color: #969BAB;
}
.footer_icon a i{
    width:32px ;
    height:32px ;
}
.footer_copyright{
    margin-top: 30px;
}
/* footer end */
/* responsive start */
@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    header{
        padding: 10px;
    }
    .header_title{
        font-size: 40px;
        width: 100%;
        line-height: 50px;
    }
    .header_info{
        margin-top: 0px;
    }
    .header_bottom, .players, .highlight{
        grid-template-columns: repeat(1,1fr);
    }
    .highlight{
        margin-top: 0px;
    }
    .highlight_title {
        font-size: 32px;
    }
    .highlight_info {
        width: 80%;
        padding: 10px;
        margin-bottom: 30px;
    }
}
/* responsive end */
